* {
  box-sizing: border-box;
}
.wrap {
  width: 480px; 
  margin: 0 auto;
}
.title {
  font-size: 36px;
}
.list {
  margin-bottom: 20px;
}
.list-item {
  font-size: 20px;
  margin-bottom: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #000;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  background: #eec335;
  padding: 10px 5px;
  cursor: pointer;
  position: relative;
}
.checked {
  background: #0eb925;
  text-decoration: line-through;
  color: #a8dee6;
}
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px 16px 10px 16px;
  background: #ed4c5c;
}
.input {
  width: 350px;
  height: 40px;
  font-size: 16px;
  line-height: 1.2;
  color: rgba(19, 39, 67, 0.9);
  border: 1px solid #333;
  border-radius: 6px;
  margin-right: 10px;
  text-indent: 20px;
  outline: none;
}
.input:focus {
  border: 2px solid #ed4c5c;
}
.button {
  width: 100px;
  height: 40px;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #fff;
  background: #ed4c5c;
  border: 2px solid  #ed4c5c;
  border-radius: 6px;
  cursor: pointer;
  outline: none;
}